name: 定时下载migu interface.txt
on:
  schedule:
    # 固定0/30分钟触发，GitHub调度优先级更高，比*/30更稳定
    - cron: '0,30 * * * *'
  workflow_dispatch: # 手动触发开关，测试用

jobs:
  download-file:
    runs-on: ubuntu-latest
    steps:
      - name: 检出仓库
        uses: actions/checkout@v4

      - name: 下载interface.txt
        run: |
          curl -o interface.txt -L "https://raw.githubusercontent.com/develop202/migu_video/main/interface.txt"
          ls -l interface.txt

      - name: 提交并推送
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "定时更新：migu interface.txt [自动提交]"
          file_pattern: interface.txt
